@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}

.BSAlert {
    animation-name: fade-in;
    animation-duration: 0.6s;
}

#home {
    margin-top: -1.5rem;
    background-color: #333;
    height: calc(100vh - 58px);
}

#home > div {
    width: 560px;
    font-size: 18pt;
}
#home > div p, #home > div h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
